:root{
    --primary: rgb(2, 164, 81);
    --secondary: rgba(255, 255, 255, 1);
    --shadow: .1em .1em 1em rgb(233, 233, 233);
}

body{
    max-width: 1440px;
    margin: auto auto;
}

.landing{
    margin-bottom: 5em;
}
 
.landing .home_nav img{
    width: 100%;
    height: 570px;
    /* object-fit: contain; */
    border: 1px solid grey;
}


.all .home_nav .sec img{
    height: 30px !important;
    width: 30px !important;
    border-radius: 50%;
}

 
.all .home_nav img{
    width: 100%;
    height: 110px;
    border: 1px solid grey;
}


.all .home_nav .overlay{
    background-color: rgba(0, 0, 0, 0.823) !important;
    position: absolute;
    width: 100%;
    height: 110px !important;
}

.all .home_nav .overlay{
    background-color: rgba(0, 0, 0, 0.789) !important;
    position: absolute;
    width: 100%;
    height: 110px !important;
}

.span{
    color: var(--primary);
}

.landing .home_nav .overlay{
    background-color: rgba(0, 0, 0, 0.463);
    position: absolute;
    width: 100%;
    height: 570px;
}

.landing .home_nav .first, .landing .home_nav .sec{
    background-color: rgba(255, 255, 255, 0.1);
    padding: 1em 2em;
    width: 100%;
    margin-bottom: .1em;
}

.landing .home_nav .third{
    margin-top: 3em;
    color: white;;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.landing .home_nav .third h1{
    font-size: 3em;
}

.landing .home_nav .third p{
    font-size: 19px;
    width: 40% !important;
    margin: auto auto;
    margin-bottom: 2em;
}

.landing .home_nav .third .btn{
    background-color: var(--primary);
    padding: .7em 3em;
    color: var(--secondary);
    text-transform: uppercase;
    font-weight: 600;
}

.landing .color{
    background-color: var(--primary);
    padding: .2em;
    width: 100%;
}

.landing .home_nav .sec img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.landing .home_nav li{
    list-style: none;
    margin-left: 3em;
}

.landing .home_nav .first{
    font-size: 12px;
}

.landing .home_nav a{
    color: white;
    text-decoration: none;
    font-size: 1em;
}

.landing .home_nav a:hover{
    color: var(--primary);
    transition: .2s;
}

.landing .main{
    padding: 2em;
}

.landing .main .section1{
    width: 60%;
    margin: auto auto;
}

.landing .main p{
    color: rgb(102, 102, 102);
}

.landing .main .section2 img{
    width: 100%;
    margin-bottom: 2em;
}

.landing .section3{
    padding: 4em;
    margin-top: 3em;
    background-color: black;
    width: 100%;
}


.landing .section3 img{
    width: 100%;
    margin-bottom: 2em;
    height: 400px;
    object-fit: cover;
    /* border: 3px solid var(--primary) */
}

.landing .section3 p{
    color: rgb(185, 185, 185);
}

.landing .section3 .divider{
    border-bottom: 1px solid grey;
    padding-bottom: 2em;
}

.landing .section3 i{
    background-color: var(--primary);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    padding: .4em;
    margin-right: 1em;
    margin-bottom: 1em;
}

.landing .section4{
    padding: 2em;
}

.landing p{
    line-height: 30px;
}

.landing .section4 p{
    color: rgb(99, 99, 99);
}

.landing .section4 .icon{
    color: white;
    background-color: var(--primary);
    border-radius: 50%;
    height: 50px;
    margin: auto auto;
    width: 50px;
    margin-bottom: .5em;
    padding: .5em;
    font-size: 22px;
}

.landing .section4  h5{
    color: rgb(51, 51, 51);
}

.footer{
    background-color: black;
    padding: 3em 2em;
    width: 100%;
    padding-bottom: 1em;
}

.footer li{
    list-style-type: none;
    margin-bottom: .5em;
}

.footer a{
    color: rgb(192, 191, 191);
    text-decoration: none;
}

.footer a:hover{
    color: var(--primary);
}

.footer p{
    color: rgb(192, 191, 191);
}

.footer input{
    margin-bottom: 1em;
    border: 1px solid grey;
    background-color: transparent;
    padding: .5em;
    outline: none;
    border-radius: 3px;
    caret-color: white;
    color: white;
}

.footer button{
    margin-bottom: 1em;
    border: 1px solid var(--primary);
    background-color: transparent;
    padding: .5em 1em;
    outline: none;
    border-radius: 3px;
    color: var(--primary);
    font-size: 12px;
}


.footer input::placeholder{
    color: rgb(192, 191, 191);
    font-size: 12px;
}

.footer .cont{
    background-color: var(--primary);
    padding: 1em;
    border-radius: 6px;
}

.footer img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.footer .divider{
    color: rgb(231, 231, 231);
    font-size: 12px;
    border-bottom: 1px solid rgb(206, 206, 206);
    padding-bottom: 2em;
}

.footer .cont a{
    color: rgb(231, 231, 231);
}

.footer .cont li{
    font-size: 12px;
}

.footer .row{
    border-bottom: 1px solid rgb(62, 61, 61);
}

.landing .hamburg{
    background-color: var(--primary);
    padding: .7em;
    right: 0;
    position: absolute;
    font-size: 1.2em;
}

.landing .mobile {
    margin: 1em;
}

.landing .mobile img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.home_nav .offcanvas{
    width: 80% !important;
}

.home_nav .offcanvas a{
    color: grey;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
}

.home_nav .offcanvas p {
    border-top: 1px solid rgb(227, 227, 227);
    padding: 1em 1em;
    font-size: 1em;
    margin-bottom: 0 !important;
}

.home_nav .offcanvas .cont{
    background-color: var(--primary);
    padding: 1em !important;
}

.home_nav .offcanvas .active{
    border-right: 5px solid var(--primary);
    border-radius: 10px;
}

.home_nav .offcanvas .cont p {
    border-top: 1px solid transparent !important;
    padding-top: 0em !important;
    padding: 0em !important;
}

.home_nav .offcanvas .cont a{
    color: white !important;
    font-size: 12px !important;
}

.home_nav .offcanvas p a i{
    margin-right: .4em;
    color: var(--primary);
}

.home_nav .offcanvas .cont li{
    margin-left: 2.4em !important;
}

.home_nav .offcanvas .cont .d-flex{
    padding-bottom: 10em;
}

.home_nav .offcanvas .cont .d-flex i{
    font-size: 1.5em !important;
}

.home_nav .offcanvas-body{
    padding: 0 !important;
}

.contact .main{
    padding: 1em 3em;
}

.contact .text a{
    text-decoration: none;
    color: rgb(105, 103, 103);
}

.contact .text p{
    color: rgb(105, 103, 103);
}

.contact .text li{
    list-style-type: none;
}

.contact .text i{
    color: var(--primary);
    margin-bottom: 1em;
    font-size: 12px;
}

.contact .text .d-flex i{
    font-size: 22px;
    margin-right: 1em;
}

.contact .form{
    border: 1px solid var(--primary);
    padding: 1em;
    border-radius: 3px;
}

.contact .form input::placeholder, .contact .form  textarea::placeholder{
    font-size: 14px;
}

.contact .form input,.contact .form textarea {
    padding: .7em;
    border: 1px solid rgb(208, 208, 208);
    outline: none;
    display: block;
    border-radius: 3px;
    margin-bottom: 1em;
    width: 100%;
    resize: none;
}

.contact .form  button{
    background-color: var(--primary);
    color: white;
    padding: .6em 2em;
    border-radius: 3px;
}

.service .main{
    padding: 3em 3em;
}

.service .main .col-sm-4{
    margin-bottom: 2em;
    text-align: center;
}

.service .main .col-sm-4 h5{
    margin-bottom: 1em;
    font-size: 1em;
}

.home_nav .active{
    background-color: var(--primary) !important;
    padding: .4em 1em;
    border-radius: 6px;
    color: white !important;
}

.home_nav .active i{
    color: white !important;
}

.service .main .col-sm-4 p{
    font-size: 14px;
}

.service .main .cont{
    background-color: rgba(105, 175, 105, 0.059);
    padding: 1em;
}

.service .main .col-sm-4 .img{
    width: 100%;
    height: 250px;
    /* border: 2px solid var(--primary); */
    overflow: hidden;
    border-radius: 3px;
    margin-bottom: 1em;
}

.service .main .col-sm-4 img{
    width: 100%;
    height: 100%;
}

.service .main .col-sm-4  i{
    background-color: var(--primary);
    color: white;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    padding: .3em;
    margin-bottom: 1em;
}

.blogs .cont{
    background-color: rgba(128, 128, 128, 0.241);
    padding: 1em;
    transition: .2s;
}

.blogs .col-sm-3{
    transition: .2s;
}


.blogs .col-sm-3:hover{
    cursor: pointer !important;
    transform: scale(1.1);
    transition: .2s;
}

.blogs .cont p{
    font-size: 14px;
    line-height: 25px;
}

.blogs .cont i{
    color: var(--primary);
    margin-right: .5em;
    margin-bottom: .5em;
}

.blogs .cont img{
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
}

@media (max-width: 600px){  
    .landing .section3{
        padding: 2em 1em;
    } 

    .wago{
        width: 100% !important;
    }
    
    .landing .mobile, .landing .hamburg {
        display: inline-block !important;
    }
    
    
    .footer{
        padding: 1em;
    }

    .landing .main .section1 {
        width: 100%;
    }

    .landing .home_nav .first, .landing .home_nav .sec{
        display: none !important;
    }

    .landing .home_nav .third p{
        width: 90% !important;
    }

    .landing .home_nav .third h1{
        font-size: 2em !important;
        width: 90% !important;
    }

    .landing .home_nav .third{
        margin-top: 4em !important;
    }

    .landing .main{
        padding: 1em;
    }

    .landing .section4{
        padding: 2em 1em;
    }

    .landing .section3{
        width: 100%;
    }
}
    